@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  
   
    <h2>The Best Event Provider in The World</h2>
    <img src="~/142380.jpg"/>
    <div>
        <a asp-page="/Events" type="button" class="btn btn-outline-primary">Register</a>
        <a asp-page="/Events" type="button" class="btn btn-outline-primary">Log In</a>
    </div>
</div>
